
.passwordgeneration {
    display: flex;
    width: 40%;
    height: 60vh;
    margin-top: 7vh;
    margin-left: 5%;
    flex-direction: column;
    // background: #000;
    font-family: $fontPoppins;

    user-select: none;
    
        
    .passwordgenerated {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10vh;
        align-items: center;
        margin-top: 5%;
        input {
            height: 8vh;
            width: 600px;
            border: 4px solid #333333;
            border-radius: 15px;
            border-color: $gris;
            background-color: $vert;
            padding: 30px;
            font-size: 40px;
            color: $gris;
            text-align: center;
        }
        input:focus {
            outline: none;
        }
    }
    .generation {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        background: $vert;

        .buttongeneration {
            display: flex;
            height: 8vh;
            width: 200px;
            margin-top: 12vh;
            margin-left: 15%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            button {
                height: 100%;
                width: 100%;
                border: 4px solid $gris;
                background-color: $vert;
                border-radius: 37px;
                font-size: 30px;
                color: $gris;
                cursor: pointer;
                transition: 0.25s;
                
            }
            button:hover {
                background-color: $vertfonce;

            }
            button:active {
                background-color: #559c65;
                filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.50));
            }
        }

        .generationsettings {
            display: flex;
            margin-top: 8vh;
            margin-left: 10%;
            background: blue;
            height: 20vh;
            width: 300px;
            border: 4px solid #333333;
            border-radius: 5px;
            background-color: $vert;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 20px;
                width: 100%;
                list-style-type: none;
                color: $gris;
                label {
                    margin-left: 10px;
                }
                li {
                    input[type="checkbox"] {
                        border: none;
                        
                        &:focus {
                            outline: none;
                        }
                    }
                    

                    .range {
                        width: 80%;
                        margin-left: 5%;
                        height: 25px;
                        background: #d3d3d3;
                        outline: none;
                        opacity: 0.7;
                        transition: opacity .2s;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .range::-webkit-range-thumb {
                        width: 25px;
                        height: 25px;
                        background: #04AA6D;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}