.separation {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 5px;
    background-color: $gris;
    border-radius: 30px;
}