@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@300&display=swap");
.header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .title {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin-left: 100px;
  font-weight: 600;
  font-size: 50px;
}
.header .colormode {
  color: #333;
  font-size: 40px;
  margin-right: 70px;
  cursor: pointer;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #78E08F;
}

.separation {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 5px;
  background-color: #333;
  border-radius: 30px;
}

.passwordgeneration {
  display: flex;
  width: 40%;
  height: 60vh;
  margin-top: 7vh;
  margin-left: 5%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.passwordgeneration .passwordgenerated {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  align-items: center;
  margin-top: 5%;
}
.passwordgeneration .passwordgenerated input {
  height: 8vh;
  width: 600px;
  border: 4px solid #333333;
  border-radius: 15px;
  border-color: #333;
  background-color: #78E08F;
  padding: 30px;
  font-size: 40px;
  color: #333;
  text-align: center;
}
.passwordgeneration .passwordgenerated input:focus {
  outline: none;
}
.passwordgeneration .generation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  background: #78E08F;
}
.passwordgeneration .generation .buttongeneration {
  display: flex;
  height: 8vh;
  width: 200px;
  margin-top: 12vh;
  margin-left: 15%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.passwordgeneration .generation .buttongeneration button {
  height: 100%;
  width: 100%;
  border: 4px solid #333;
  background-color: #78E08F;
  border-radius: 37px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  transition: 0.25s;
}
.passwordgeneration .generation .buttongeneration button:hover {
  background-color: #6dc981;
}
.passwordgeneration .generation .buttongeneration button:active {
  background-color: #559c65;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}
.passwordgeneration .generation .generationsettings {
  display: flex;
  margin-top: 8vh;
  margin-left: 10%;
  background: blue;
  height: 20vh;
  width: 300px;
  border: 4px solid #333333;
  border-radius: 5px;
  background-color: #78E08F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.passwordgeneration .generation .generationsettings ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  width: 100%;
  list-style-type: none;
  color: #333;
}
.passwordgeneration .generation .generationsettings ul label {
  margin-left: 10px;
}
.passwordgeneration .generation .generationsettings ul li input[type=checkbox] {
  border: none;
}
.passwordgeneration .generation .generationsettings ul li input[type=checkbox]:focus {
  outline: none;
}
.passwordgeneration .generation .generationsettings ul li .range {
  width: 80%;
  margin-left: 5%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.passwordgeneration .generation .generationsettings ul li .range:hover {
  opacity: 1;
}
.passwordgeneration .generation .generationsettings ul li .range::-webkit-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.passwordverification {
  display: flex;
  position: absolute;
  width: 40%;
  height: 60vh;
  top: 27vh;
  margin-left: 55%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.passwordverification .passwordinput {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  align-items: center;
  margin-top: 5%;
}
.passwordverification .passwordinput input {
  height: 8vh;
  width: 600px;
  border: 4px solid #333333;
  border-radius: 15px;
  border-color: #333;
  background-color: #78E08F;
  padding: 30px;
  font-size: 40px;
  color: #333;
}
.passwordverification .passwordinput input:focus {
  outline: none;
}
.passwordverification .verification {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  background: #78E08F;
  display: flex;
  margin-top: 8vh;
  margin-left: 30%;
  height: 20vh;
  width: 300px;
  border: 4px solid #333333;
  border-radius: 5px;
  background-color: #78E08F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.passwordverification .verification ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  width: 100%;
  list-style-type: none;
  color: #333;
}
.passwordverification .verification ul label {
  margin-left: 10px;
}/*# sourceMappingURL=index.css.map */